%footer
  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt ducimus natus voluptate nulla inventore aliquam accusantium fugiat nostrum placeat libero cumque assumenda voluptates veniam mollitia eligendi perferendis molestiae harum repellendus omnis deleniti, odio odit sequi eaque alias. Voluptatum fugit, impedit et, unde tempore corrupti! Explicabo incidunt repellat at molestias assumenda.
  %p
    Copyright 2015 Futureworkz Ple. Ltd. 
    %strong Handcrafted by Joane Futureworkz