%header.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => "#menu", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only
          Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .logo
        = link_to image_tag("logo.jpg"), root_path, id: "logo"
    .navbar-collapse.collapse#menu
      %ul.nav.navbar-nav.navbar-right
        %li
          .info
            %p
              %i Handcrafted by
            %p
              %strong Joane Futureworkz
          .avt
            = image_tag "avt.jpg"